:root {
  /* Main colors */
  --background-dark: #1e1e1e;
  --background-medium: #2a2a2a;
  --background-light: #3d3d3d;
  --border-color: #444a50;
  --text-color: white;

  /* Button colors */
  --primary-button: #007bff;
  --primary-button-hover: #0056b3;
  --primary-button-active: #004494;

  /* Overlay colors */
  --overlay-background: rgba(0, 0, 0, 0.5);

  /* Scrollbar colors */
  --scrollbar-thumb: #37474f;
  --scrollbar-track: #f0f0f0;

  /* Shadow */
  --box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

  /* Outline */
  --outline: 1px solid #444a50;
}

.toggle-switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.toggle-switch-container .custom-switch .form-check-input {
  width: 3rem;
  height: 1.5rem;
}

.toggle-switch-container .form-label {
  margin-bottom: 0 !important;
}

.text-column {
  max-width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-chart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
}

.custom-table-container {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  max-height: 25rem;
  height: 25rem;
  border-radius: 5px;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
  background-color: white;
}

.red-row {
  --bs-table-bg: #ff5252 !important;
}

.pie-chart-container {
  display: flex;
  justify-content: center;
  background-color: var(--background-light);
  text-align: center;
  color: var(--text-color);
  border-radius: 5px;
  overflow-y: auto;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
  width: 100%;
}

.pie-chart {
  display: flex;
  flex-grow: 1;
  background-color: var(--background-light);
}

.modal-header {
  background-color: var(--background-light) !important;
  color: var(--text-color);
  border-bottom: 1px solid var(--background-dark) !important;
}

.modal-body {
  background-color: var(--background-light) !important;
  color: var(--text-color);
}

.modal-footer {
  background-color: var(--background-light) !important;
  color: var(--text-color);
  border-top: 1px solid var(--background-dark) !important;
}

.custom-table tbody tr {
  background-color: var(--background-medium);
}

.custom-table-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-table-container::-webkit-scrollbar-thumb {
  background-color: #37474f; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar */
}

.custom-table-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Background of the scrollbar track */
}
