.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 30vw;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-header {
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.custom-input {
    font-family: 'Roboto', sans-serif;
}

.login-btn {
    background-color: white !important;
    border: 2px solid white;
    font-family: 'Roboto', sans-serif !important;
}

.login-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}