main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 80vh;
}

.nav-link {
    font-weight: normal;
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}